*{
    font-size: 20px;
    color: brown;
    text-align: center;
    margin-top: 30px;
}
h1{
    font-size: 30px;
}
.box1{
    display: inline-block;
    width: 24%;
    height: 20vh;
    border: 1px solid gray;
    background-color:darksalmon;
}
.box2{
    display: inline-block;
    width: 24%;
    height: 20vh;
    border: 1px solid gray;
    background-color: darksalmon;
}
.box3{
    display: inline-block;
    width: 24%;
    height: 20vh;
    border: 1px solid gray;
    background-color: darksalmon;
}
.box4{
    display: inline-block;
    width: 24%;
    height: 20vh;
    border: 1px solid gray;
    background-color: darksalmon;
}

@media screen and  (max-width: 750px){
    .box1{
        width: 48%;
    }
    .box2{
        width: 48%;
    }
    .box3{
        width: 48%;
    }
    .box4{
        width: 48%;
    }
}
@media screen and  (max-width: 500px){
    .box1{
        width: 96%;
    }
    .box2{
        width: 96%;
    }
    .box3{
        width: 96%;
    }
    .box4{
        width: 96%;
    }
}